body {
    margin: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgb(8, 54, 67); */
    background-color: red;
    cursor:pointer;
}

#root {
    /* background-color: rgb(8, 54, 67); */
    background-color: red;
    color: darkred;
}
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Macondo Swash Caps';
}

.title {
    color:crimson;
    font-size: 3.5rem;
}

.title:hover{ 
    color:chartreuse;
    cursor: default;
}

.images {
    width: 5%;
    height: 5%;
    flex-basis: 13%;
    margin: 1%;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    transition: transform 0.2s;
}

.images:hover {
    cursor:default;
    transform: scale(1.2);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-content: center;
    flex-direction: row;
    margin-top: 5%;
}

.bookTitle {
    font-size: 3rem;
}

.bookImage {
    height: 30rem;
    width: auto;
    order: -1;
    /* flex-basis: 100%; */
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cardTxt {
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-left: 2rem;
    width: 27rem;
}
.card-text {
    margin-top: 2.5rem;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border: 0.18rem solid #f6c2c7;
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem;
}

.break {
    flex-basis: 100%;
}